[data-overlay] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
}

[data-opacity="1"]::before {
  opacity: 0.1;
}

[data-opacity="2"]::before {
  opacity: 0.2;
}

[data-opacity="3"]::before {
  opacity: 0.3;
}

[data-opacity="4"]::before {
  opacity: 0.4;
}

[data-opacity="5"]::before {
  opacity: 0.5;
}

[data-opacity="6"]::before {
  opacity: 0.6;
}

[data-opacity="7"]::before {
  opacity: 0.7;
}

[data-opacity="8"]::before {
  opacity: 0.8;
}

[data-opacity="9"]::before {
  opacity: 0.9;
}

body {
  font-family: Muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Muli, sans-serif;
  color: #0b1c39;
  margin-top: 0;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus {
  text-decoration: none;
  outline: 0;
}

a {
  color: #635c5c;
}

a:hover {
  color: #fff;
}

a:focus,
a:hover {
  text-decoration: none;
}

a {
  color: #fff;
  outline: medium none;
}

input:focus {
  outline: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

@-webkit-keyframes float-bob {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes heartbeat {
  to {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: 0;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input:focus {
  outline: 0;
}

.form-select {
  height: 70px;
  width: 100%;
}

.slider-height {
  min-height: 850px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider-height {
    min-height: 700px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-height {
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .slider-height {
    min-height: 550px;
  }
}

.slider-height2 {
  min-height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 767px) {
  .slider-height2 {
    min-height: 260px;
  }
}

.slider-area {
  margin-top: -1px;
}

.slider-area .hero__caption {
  padding-right: 29px;
}

@media (max-width: 767px) {
  .slider-area .hero__caption {
    padding-right: 0;
  }
}

.slider-area .hero__caption h1 {
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 78px;
  color: #28395a;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .slider-area .hero__caption h1 {
    font-size: 27px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-area .hero__caption h1 {
    font-size: 41px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-area .hero__caption h1 {
    font-size: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area .hero__caption h1 {
    font-size: 50px;
  }
}

form.search-box {
  box-shadow: 0 6px 29px 0 rgba(36, 43, 94, 0.08);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form.search-box .input-form {
  width: 45%;
  position: relative;
}

@media (max-width: 767px) {
  form.search-box .input-form {
    width: 100%;
  }
}

form.search-box .input-form input {
  height: 70px;
  width: 100%;
  color: #777;
  font-size: 18px;
  font-weight: 400;
  padding: 9px 33px 9px 32px;
  border: none;
  border-radius: 0;
  position: relative;
}

@media (max-width: 767px) {
  form.search-box .input-form input {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  form.search-box .input-form input {
    padding: 9px 33px 9px 25px;
    margin-bottom: 20px;
  }
}

form.search-box .input-form input::placeholder {
  color: #616875;
}

@media (max-width: 767px) {
  form.search-box .input-form input::placeholder {
    font-size: 13px;
  }
}

form.search-box .input-form::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 51px;
  background: #e0e4f8;
  right: 22px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  form.search-box .input-form::before {
    display: none;
  }
}

@media (max-width: 767px) {
  form.search-box .input-form::before {
    display: none;
  }
}

form.search-box .select-form {
  width: 34%;
}

@media (max-width: 767px) {
  form.search-box .select-form {
    width: 100%;
  }
}

form.search-box .search-form {
  width: 21%;
}

@media (max-width: 767px) {
  form.search-box .search-form {
    width: 100%;
  }
}

form.search-box .search-form a {
  width: 100%;
  height: 70px;
  background: #fb246a;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
  display: block;
  padding: 15px;
  border-radius: 0;
  text-transform: capitalize;
  font-family: Muli, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.2;
  line-height: 38px;
  font-size: 14px;
}

.single-job-items {
  padding: 36px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items {
    padding: 20px 7px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-job-items {
    padding: 20px 25px;
  }
}

@media (max-width: 767px) {
  .single-job-items .job-tittle {
    padding-top: 25px;
  }
}

.single-job-items .job-tittle a h4 {
  color: #28395a;
  font-size: 24px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.single-job-items .job-tittle a h4:hover {
  color: #8b92dd;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items .job-tittle2 {
    padding-top: 25px;
  }
}

.single-job-items:hover {
  box-shadow: 0 22px 57px 0 rgba(34, 41, 72, 0.05);
}

.single-job-items .job-items {
  display: flex;
  flex-wrap: wrap;
}

.hero-caption h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
